*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* globals */
body {
  box-sizing: border-box;
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
